<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/inugamine/Skyscraper/master/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>Ws0ahm+WarB3Ih6WwGgDHTxmPtsxn/R8blQY53MixXQ=</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Skyscraper needs camera access so that websites you allow can use the camera.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Skyscraper needs microphone access so that websites you allow can use the microphone.</string>
</dict>
</plist>
