<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/inugamine/Skyscraper/master/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>Ws0ahm+WarB3Ih6WwGgDHTxmPtsxn/R8blQY53MixXQ=</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Skyscraper needs camera access so that websites you allow can use the camera.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Skyscraper needs microphone access so that websites you allow can use the microphone.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Skyscraper needs your location so that websites you allow can use it.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>net.live-on.inugamine.Skyscraper.web</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>https</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>HTML Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.html</string>
				<string>public.xhtml</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
